.form{
	 box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
	 border:1px solid black;
	 padding: 2em;
}

.layout{
      width:50%;
	margin:auto;
	padding: 30px;
}

@media(max-width: 1000px){
	.layout{
      width: 100%;
      margin: auto;
	}
}