.form{
	 box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
	 border:1px solid black;
	 margin-top:5em;
  width: 50%;
  
	
	 
}

.layout{
      width:50%;
	margin-top:5em;
	padding: 5em;
	
}

@media(max-width: 1000px){
	.layout{
      width: 100%;
     margin-top:5em;
	}
}